@keyframes mano-sabores
	0% 
		transform rotate(10deg) 
	 
	50%
		transform rotate(20deg)
	
	100%
		transform rotate(10deg)


@keyframes BBB-sabor
	0% 
		transform rotate(10deg) 
	 
	50%
		transform rotate(20deg)
	
	100%
		transform rotate(10deg)
	

