/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/
.row
	margin 0
	padding 0
	
.clear
	clear both	
a
	text-decoration none
	
		
	img
		border 0
	
body
	color $Blanco
	font-size 1.3em
	

h1, h2, h3
	font-family $Black

p
	font-family $Black

.conte-inicio
		background url("../images/img-tramaMor.png"), linear-gradient(to bottom, rgba(53,0,49,1.0) 0%,rgba(42,22,86,1.0) 100%)  
		position relative
		z-index 2
		
.form-datos-AC
		background url("../images/img-tramaMor.png"), linear-gradient(to bottom, rgba(53,0,49,1.0) 0%,rgba(42,22,86,1.0) 100%)  
		position relative
		
.cont-titulo
		padding-top 20px	

.conte-pasos
		background linear-gradient(to bottom, rgba(0,123,186,1.0) 0%,rgba(0,75,141,1.0) 100%)
		position relative
		z-index 1 
	
.conte-pasos .cont-titulo, .conte-subir-foto .cont-titulo
		padding-top 102px
		
.conte-subir-foto, .conte-galeria
	position relative
	z-index 0

.pasos-concurso
	color $Blanco
	font-size 4rem
	line-height 4rem
	margin 0

.pasos-concurso2
	color $Blanco
	font-size 3.3rem
	line-height 3.3rem
	margin -8px 0 0 0

.conte-paso2
	padding-top 74px

.conte-finalM
	path("img-FinMor.png")
	background-repeat no-repeat
	bottom 0
	height 100%
	pointer-event none
	position absolute
	width 100%
	z-index 10

.conte-finalA
	path("img-FinAzul.png")
	background-repeat no-repeat
	bottom 0
	height 100%
	pointer-event none
	position absolute
	width 100%
	z-index 0
	
.conten-foto-sub
	background url("../images/img-SubirFoto.png"), $Blanco
	border 1px solid $Gris
	height 400px
	width 360px
	
.conte-inicioM
	path("img-InicioMor.png")
	background-repeat no-repeat
	height 140px
	pointer-event none
	width 100%
	z-index 0

.cont-tituloG 
	padding-top 143px

.con-titulo-Galeria
	background url("../images/img-tramaAzul.png"), linear-gradient(to bottom, rgba(0,123,186,1.0) 0%,rgba(0,75,141,1.0) 100%)

.thumb
	padding 0
	margin 0
	
.cont-infoFotoM
	background $Morado
	height 77px
	padding 15px
	
.cont-infoFotoA
	background $Azul
	height 77px
	padding 15px

.nombre-usua-foto
	font-size 2rem
	line-height 2rem

.conte-nombreU
	float left
	width 80%

.conte-votosU
	float left
	text-align center
	width 20%
	
em.titulo-votos
	font-family $Black
	font-size 1.8rem
	line-height 1.8rem

p.text-numero-votos
	font-family $Black
	font-size 3rem
	margin 0
	padding 
.conte-hielo1
	float left
	position absolute
	z-index 0
	top -15%
	path("hielo-der.png")
	height 1127px
	background-position-y 5px

.conte-hielo2
	float left
	left 50%
	position absolute
	z-index 0
	top -15%
	path("hielo-izq.png")
	height 1127px
	background-position-y 5px