.img-fondo-1
	position absolute
	left 0
	padding 0
	top 5%

.img-fondo-2
	padding 0
	position absolute
	z-index -2

.img-fondo-3
	position absolute
	top 9%
	z-index 2

.img-fondo-4
	left 0
	position absolute
	top 9%

.img-fondo-5
	bottom 0
	position absolute
	z-index -100

.img-fondo-6
	background url('../images/fondos/img-trang-amar.png')
	background-repeat no-repeat
	height 280px
	width 477px
	top -35px
	position absolute
	right 9%
	z-index -100

.img-fondo-7
	bottom 10%
	position absolute
	z-index -100
	
.img-fondo-8
	bottom 0
	position absolute
	z-index -100

.img-fondo-9
	background url('../images/fondos/img-trang-azul.png')
	background-repeat no-repeat
	height 910px
	width 1133px
	bottom 48%
	position absolute
	left 5%
	z-index -100

.img-fondo-10
	bottom 1%
	position absolute
	z-index -100

.img-fondo-11
	top 7%
	position absolute
	z-index -100

.img-fondo-12
	bottom -33%
	position absolute
	z-index -100
	
.img-fondo-13
	top 6%
	left -8%
	position absolute
	z-index -100
	
	
