.container 
  position relative
  width 100%


.scene 
  padding 0
  margin 0

.wrapper
	display table
	height 60rem
	left 0
	overflow hidden
	position absolute
	top 0
	width 100%

.wrapper2
	display table
	height 73rem
	margin-top 141px
	left 0
	overflow hidden
	position absolute
	top 0
	width 100%

.hanger 
	-webkit-transform-origin 0% 0%
 	-moz-transform-origin 0% 0%
  	transform-origin 0% 0%
   	position absolute
   
.hanger.position-1
	left 5% !important
	top 50% !important

.hanger.position-2
	left 89% !important
	top 30% !important

.hanger.position-3
	left 70% !important
	top 100% !important
	
.hanger.position-4
	left 80% !important
	top 100% !important

.hanger.position-5
	left 70% !important
	top 2% !important
	
.hanger.position-6
	left 30% !important
	top 100% !important
	
.hanger.position-7
	left 20% !important
	top 94% !important

.hanger.position-8
	left 50% !important
	top 74% !important

.hanger.position-9
	left 60% !important
	top 50% !important

.hanger.position-10
	left 5% !important
	top 80% !important

.hanger.position-12
	left 60% !important
	top 50% !important
	
.hanger.position-13
	left 2% !important
	top 90% !important
	
#relative, #clip,#relative2, #clip2
	display none