@font-face
  font-family 'Black'
  src url('../fonts/Black-coffee.eot')
  src url('../fonts/Black-coffee.eot') format('embedded-opentype'),
         url('../fonts/Black-coffee.woff2') format('woff2'),
         url('../fonts/Black-coffee.woff') format('woff'),
         url('../fonts/Black-coffee.ttf') format('truetype'),
         url('../fonts/Black-coffee.svg') format('svg')
  font-weight normal
  font-style normal
  
@font-face
  font-family 'Worth'
  src url('../fonts/Worthwhile.eot')
  src url('../fonts/Worthwhile.eot') format('embedded-opentype'),
         url('../fonts/Worthwhile.woff2') format('woff2'),
         url('../fonts/Worthwhile.woff') format('woff'),
         url('../fonts/Worthwhile.ttf') format('truetype'),
         url('../fonts/Worthwhile.svg') format('svg')
  font-weight normal
  font-style normal
