label 
	color $Blanco
	font-family $Black
	font-size 1.6rem
	font-weight 100
	width 100%

input[type=text],input[type=email], select
	background $Azul
	border none
	box-shadow 2px 2px 2px 2px #000000
	color $Blanco
	font-family $Black
	font-size 2rem
	font-weight 100
	height 30px
	padding 5px
	width 100%
	
.texto-terminosC
	color $Azul
	font-family $Black
	font-size 1.6rem
	font-weight 100
	width 100%
	
.terminos-cont
	margin-bottom 20px
	
input.check-terminos
	width 10%
	float left
	
label.text_terminos
	box-shadow none
	width 90%
	float left
	
label.error
	border $Azul
	color $Rojo
	font-weight 100
	margin-top 5px

.conten-compartir
	margin 20px

.texto-share
	font-size 3rem
	margin 20px 23px 0 0
	width 25%
	float left
	
