/* Large desktops and laptops */
@media (max-width: 1920px) and (min-width: 1915px)
	.contenedor-noticias
		width 41%
		left 8%
	
	.contenedor-flechaN
		margin-left 48%

@media (max-width: 1200px) 
	.contenedor-noticias
		width 70%
	
	.contenedor-flechaN
		margin-left 78.8%

@media (max-width: 1024px)
	.contenedor-mapa
		left 26%
		
	.contenedor-redes
		margin-left -66px
	
	.contenedor-noticias
		width 68%
		left 11%
	
@media (max-width: 999px)
	div.cont-ipad
		background none
	
	.contenedor-noticias
		left 13%
		
@media (max-width: 767px)
	.conte-menu-BBB
		margin-top 41px
		padding 0
		width 23%
		float right

	#navegacion
		display none
	
	#MenuMobile
		display block !important
	
	.img-bandera
		margin-top -8px
	
	.img-fondo-1
		display none
	

@media (max-width: 800px)
	body
		overflow hidden
	
	.img-fondo-3, .img-fondo-4
		top 28%
	
	.img-fondo-1
		top 36%
	
	.conte-selec-regiones
		margin-top 9%
		margin-left 3.6%
	
	div.cont-ipad
		background none
		overflow-y scroll
		margin-bottom 70px
	
	.contenedor-noticias
		left 13%
	
	.antes
		margin 75% 0 0 5%
	
	.despues
		margin 75% 0 0 20%

@media (max-width: 640px)

	body
		overflow hidden
		
	.img-donde-mapa
		display none
		
	.img-fondo-2
		margin 0
		right 0
		width 70%
	
	svg#mapa
		width 100%
	
	.img-fondo-3
		top 50%
	
	.conte-selec-regiones
		margin-top 21%

@media (max-width: 600px)
	.cont-logo-colom
		bottom 113%
	.contenedor-redes
		margin-left -16%
	
	.conte-menu-BBB
		margin-top 41px
		padding 0
		width 23%
		float right

	#navegacion
		display none
	
	#MenuMobile
		display block !important
	
	.img-bandera
		margin-top -8px
	
	.contenedor-noticias
		left 16%
	
	.contenedor-noticias, .noticias
		height auto
	
	.antes, .despues
		display none
		

//@media (max-width: 599px)
	

@media (max-width: 539px) and (min-width: 360px)
	.contenedor-logoBBB
		margin-top 3px
		
	.contenedor-mapa
		display none
		
	.conte-selec-regiones
		margin-left 3%
		margin-top 8%
	
	.img-fondo-3
		width 55%
		margin-left 49%
		top 25%
	
	.img-fondo-4
		top 20%
		width 45%
	
	.contenedor-redes
		margin-left -20%
	
	.conte-menu-BBB
		width 26%
	
	.contenedor-flechaP, .contenedor-flechaN
		display none
	
	.contenedor-noticias
		left 5%
		width 90%
		margin-bottom 20px
	
	.contenedor-noticias, .noticias
		height auto
	
	

@media (max-width: 414px)
	.img-donde-mapa
		display none
	
	.contenedor-mapa
		display none
	
	.conte-selec-regiones
		margin-bottom 30%
		
	.contenedor-redes
		margin-top 20%
		margin-left -29%
	
	ul.redes-sociales
		margin-top 20%
	
	.conte-menu-BBB
		width 39%
	
	.contene-logo-BBB
		width 44%
		margin-left -3%
		
	.contenedor-flechaP, .contenedor-flechaN
		display none
	
	.contenedor-noticias 
		left 5%
		width 90%
		margin-bottom 20px
	
	.img-fondo-12, .img-fondo-1,
	.img-fondo-9
		display none
	
	.img-fondo-11
		top 30%
	
	.img-fondo-5
		bottom 10%
		margin-left 60%
	
	.img-fondo-7
		margin-left -7%
	
    	
@media (max-width: 360px)
	.conte-selec-regiones
		margin-top 20%
	

	.contene-logo-BBB
		width 53%
		margin-left -3%
	
	.contenedor-redes
		margin-top 20%
		margin-left -33%
	
	ul.redes-sociales
		margin-top 10%
		
	.contenedor-flechaP, .contenedor-flechaN
		display none
	
	.contenedor-noticias
		left 5%
		width 90%
		margin-bottom 20px
		

@media (max-width: 320px)

	.conte-selec-regiones
		margin-left 0%
		margin-top 39%
	
	.img-fondo-3
		top 18%
		width 60%
		margin-left 40%
	
	.img-fondo-4
		top 20%
		width 45%
	
	.contenedor-redes
		margin-top 20%
		margin-left -39%
	
	.conte-menu-BBB
		width 44%
	
	.contene-logo-BBB
		width 53%
		margin-left -3%
	
	.contene-logo-BBB
		width 53%
		margin-left -3%
	
	.contenedor-noticias
		left 16%
		width 79%
		margin-bottom 20px
		
	.contenedor-flechaP, .contenedor-flechaN
		display none
	
	.contenedor-noticias
		left 5%
		width 90%
