/* Large desktops and laptops */

@media (max-width: 1200px)
	.cont-tituloG
		margin-left 28%

@media (max-width: 1096px) and (min-width: 939px)
	.conte-logoColom
		margin-left 19% !important
		
	.cont-redesBBB
		width 30%


@media (max-width: 938px) and (min-width: 767px)
	.conte-logoColom
		margin-left 15% !important
		
	.cont-redesBBB
		width 35%

@media (max-width: 991px) and (min-width: 767px)
	.conten-foto-sub
		background-position -36px 0
		margin-left 36%
		width 300px
	
	.cont-tituloG
		margin-left 24
	
	.cont-flecha-A
		margin-left 42%
	
		
@media (max-width: 563px) and (min-width: 320px)
	.conte-logoColom	
		margin-left 20% !important
		width 60%
	
	.cont-redesBBB
		width 100%
	
	.conten-foto-sub
		background-position -36px 0
		margin-left 24%
		width 300px
	
	.cont-pasos-BBB
		margin 0 0 20px 17% 	
		width 69%
	
	.conte-paso2
		padding-top 0

	.conte-botonG
		margin-left 20%
	
	.cont-flecha-M
		margin-top 19%
		margin-bottom -33px
		
@media (max-width: 320px)
	.cont-flecha-A
		margin 25px 0 0 28%
		
	.cont-flecha-M
		margin 126px 0px -30px 28%
	
	.pasos-sabes
		padding-top 146px !important
	
	.cont-pasos-BBB
		margin-bottom 20px
		width 100%
	
	.conte-paso2
		padding-top 0
	
	.cont-subirfoto
		margin-left 5%
		padding 102px 0 0 0
		width 90%
	
	.conten-foto-sub
		background-position -36px 0
		margin-left 3%
		width 300px
	
	.conte-botonG
		margin-left 3%
		width 300px
	
	.cont-tituloG
		margin-left 20%
	
	.conten-compartir
		margin 20px 0 0 0 
	
	.texto-share
		font-size 2.5rem
		

/* Portrait tablets and medium desktops */

