nav.bar
	border none
	width 100%
	
	ul.menu-site-BBB
		border none
		padding 0
		margin 0
		
		li
			display inline-block
			height 43px
			text-align center
			width 125px	
			
			a
				color $Rojo
				font-family $RalewayL
				height 43px
				padding 10px 0 0
				padding-top 10px
				text-transform uppercase
				width 125px

				&:hover, &:active , &:focus
					background url('/images/fondo-menuP.png')
					background-position -3px -1px
					background-repeat no-repeat
					border none
					color $Blanco
					height 43px
					width 125px

.menu-active
	background url('/images/fondo-menuP.png')
	background-position -3px -1px
	background-repeat no-repeat
	color $Blanco !important
	border none
	color $Blanco
	height 43px
	width 125px

ul.menu-site-BBB
	
	li.cont-bandera
		height 74px !important
		text-align center
		width 55px !important
		
		a.banderas
			padding 0
			margin 1px 0 0 1px
			
			
			&:hover, &:active , &:focus
				background-image none !important
			
		
.img-bandera
	border-radius 100%
	width 40px !important
	height 40px !important

#MenuMobile
	margin 0
	padding 0

#MenuMobile li
	list-style none
	width 40px
	height 40
	float left
	margin-left 8px

#BBB-Mobile-menu
	margin 0
	padding 0
	width 100%

#BBB-Mobile-menu li
	background $Rojo
	list-style none
	text-transform uppercase
	padding 10px
	font-family $RalewayL

#BBB-Mobile-menu li a
	color $Blanco
	text-decoration none
	
	&:hover
				color $Verde
				text-decoration none

	
								
		

	
	
				