.contenedor-logoBBB
	margin-top 40px
	z-index 1
	
.contenedor-mapa
	left 35%
	position absolute
	top -9%
	z-index -1

.conte-selec-regiones
	margin-top 14%
	
.selecione-region
	background url('../images/fondos/fondo-select.png')
	border none
	height 87px
	width 293px
	font-family $RalewayL
	font-size 2.2rem

i.flecha-abajo
	background url('../images/fondos/flecha-abajo.png')
	height 21px
	float right
	width 34px
	margin-right 44px

.opciones-region
	background url('../images/fondos/fondo-select-opcio.png')
	height 131px
	width 290px
	background-repeat no-repeat

ul.cont-region 
	padding-top 20px
	
ul.cont-region li
	list-style none
		
	a
		font-family $RalewayL
		padding 4px
		font-size 1.6rem
		text-decoration none
		color $Blanco
			
		&:hover
			background $Blanco
			color $Morado

.img-donde-mapa
	position absolute
	bottom 0
	margin-left -2%
	
	
	
	