.cont-titulo-sabores
	margin 6% 0 0 6%
	position absolute
	z-index -3
	
.contene-fon-sabores
	background-image url("../images/fondos/fondo-titl-sabores.png")
	background-repeat no-repeat
	padding 8% 12% 6% 9%
	background-size 100% 100%
	position absolute
	top 10%
	left 29%
	
.titulo-sabores
	font-family $RalewayL
	font-style 2rem
	font-weight 100
	margin 0

.bold-titulos
	font-family $RalewayB
	font-family 2rem

.info-sabores-bbb
	background-image url("../images/fondos/img-text-sabores.png")
	background-repeat no-repeat
	background-size 100%
	padding 43% 15% 39%

.info-sabores-bbb p
	color $Blanco
	font-size 1.3rem
	line-height 1.4rem

.cont-mano-sabores
	bottom 0
	position absolute
	z-index 1
	transform rotate(10deg)
	padding 0
	left -17px
	animation mano-sabores 0.5s ease 1s 2 

.cont-BBB-sabor
	margin-left 0%
	transform rotate(10deg)
	animation BBB-sabor 0.5s ease 1s 2
	transform-origin bottom left

.conte-sabores-BBB
	padding-left 0 

.fondo-titulo-sabores
	background-image url("../images/fondos/back-fondo-titulo.png")
	background-repeat no-repeat
	background-size 100%
	float left
	padding 1% 0 1% 6%

.cont-slide-banderas
	float left
	margin-top 5%
	width 15%

.fondo-titulo-sabores > h3
	width 70%

.cont-flechas
	font-family $RalewayB
	font-size 3rem
	float left
	width 2%
	
.cont-flechas > a
	text-decoration none
	color $Morado
		
	&:hover
		color $Fucsia
	
.slide-sabores
	float left
	margin 0 2px 0 14px
	overflow hidden
	width 61%
	height 54px
	
.slide-banderas-s
	padding 0%
	margin 0
		 
	li.banderas
		float left
		width 50px
		list-style none

.cont-seleccion-sabores
	background-image url("../images/fondos/img-fondo-sabores.png")
	background-repeat no-repeat