/*

En este archivo se declaran los colores, las fonts y sus variaciones

*/

//Paleta de colores del proyecto

$Morado     = #2A1656
$MoradoC    = #350031
$Blanco     = #ffffff
$Gris       = #cccccc
$Azul     	= #009fd9
$AzulOs    	= #0663B9
$Rojo    	= #d90611

/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$Black = 'Black', sans-serif
$Varela = 'Worth', sans-serif

//Font weights
$Light  = 300
$Normal = 400
$Bold   = 700