/*

En este archivo se declaran los colores, las fonts y sus variaciones

*/

//Paleta de colores del proyecto

$Blanco     = #ffffff
$Rojo       = #cf0a2c
$Morado     = #652d90
$Fucsia    	= #ff6dff
$Verde    	= #00ffc1
$Negro   	= #000000
$Gris       = #d3d2d2
$GrisC      = #f1f1f1
$Azul       = #00cfff

/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$RalewayR = RalewayR, sans-serif
$RalewayB = RalewayB, sans-serif
$RalewayL = RalewayL, sans-serif
$RalewayH = RalewayH, sans-serif

//Font weights
$Light  = 300
$Normal = 400
$Bold   = 700