//Footer

footer.container-fluid
	div.row
		div.col-lg-12
			a.terminosy-condi.block-center.text-center terminos y condiciones


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == false
	script(src='js/libs/jquery.js')
	script(src='js/libs/jquery-ui.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/libs/jquery.validate.js')

else
	script(src="js/libs.frontend-brm.min.js")
	script(src='js/frontend-brm.js')