//Header
header.container-fluid
	div.row
		div.col-lg-4.col-md-2.col-sm-4.col-xs-4.col-lg-offset-5.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
			h1
				+image("logo-BBB.png", "Logo BonBonBum")(class="img-responsive")

		div.col-lg-8.col-md-7.col-sm-7.col-xs-8.col-lg-offset-0.col-md-offset-2.col-sm-offset-1.col-xs-offset-1.conte-menu-BBB
			include menu.jade

///-Header