//Menu
div.col-lg-12.col-md-12.col-sm-12.col-xs-12
	nav.bar
		ul#navegacion.menu-site-BBB.nav.nav-tabs
				li
					a(href="#", onClick="seguimientoEventos('footer','clic','Privacidad')").block-center.text-center Productos
						
				li
					a(href="#", onClick="seguimientoEventos('footer','clic','Privacidad')").block-center.text-center Noticias
				
				li
					a(href="#", onClick="seguimientoEventos('footer','clic','Privacidad')").block-center.text-center Actividades

				li
					a(href="#", onClick="seguimientoEventos('footer','clic','Privacidad')").block-center.text-center Historia
						
				li.cont-bandera
						a.banderas(href="#")
							img.img-bandera.img-responsive(src='/images/banderas/bandera-Ecuador.png')


///-Menu