//Menu
div.col-lg-12.col-md-12.col-sm-12.col-xs-12
	nav.bar
		ul#navegacion.nav.nav-tabs
				li
					a(href="https://www.facebook.com/BBBum/",target="_blank")
						+image("img-icoFace.png")(alt="Facebook")

				li
					a(href="https://twitter.com/Bon_Bon_Bum",target="_blank")
						+image("img-icoTw.png")(alt="Twitter")

				li
					a(href="https://www.instagram.com/bonbonbumoficial/")
						+image("img-icoInsta.png")(alt="Facebook")


///-Menu