extends partials/base

block title
	-var titulo = "Historia";
	title Historia

block content
	div.img-fondo-15.col-lg-6.col-md-6.col-sm-6.col-xs-9.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0
		img.img-responsive(src='../images/fondos/fondo-historia1.png')
	
	div.img-fondo-16.col-lg-6.col-md-6.col-sm-6.col-xs-9.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0
		img.img-responsive(src='../images/fondos/fondo-historia2.png')

	div.img-fondo-17.col-lg-2.col-md-3.col-sm-3.col-xs-3.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0
		img.img-responsive(src='../images/fondos/img-esfera.png')

	div.img-fondo-18.col-lg-4.col-md-4.col-sm-3.col-xs-4.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0
		img.img-responsive(src='../images/fondos/img-trian-mag.png')

	div.img-fondo-19.col-lg-4.col-md-4.col-sm-4.col-xs-6.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0
		img.img-responsive(src='../images/fondos/img-sepen-amarillaII.png')

	section.cd-horizontal-timeline
		div.timeline
			div.events-wrapper
				div.events
					ol
						li
							a.selected(href="#0", data-date="01/01/1989") 
								div(data-toggle="tooltip",data-placement="top",title="<p><img src='../images/fondos/ico-70s.png'></p>").
									1970
						li
							a.item-no(href="#0", data-date="19/01/1989")
						li
							a(href="#0", data-date="01/02/1989")
								div(data-toggle="tooltip",data-placement="top",title="<p><img src='../images/fondos/ico-90s.png'></p>").
									1990
						li
							a.item-no(href="#0", data-date="15/03/1989")
						li
							a.item-no(href="#0", data-date="27/03/1989")
						li
							a(href="#0", data-date="15/04/1989") 

								div(data-toggle="tooltip",data-placement="top",title="<p><img src='../images/fondos/ico-20s.png'></p>").
									2000
						li
							a.item-no(href="#0", data-date="05/05/1989")
						li
							a.item-no(href="#0", data-date="20/06/1989") 
						li
							a.item-no(href="#0", data-date="10/07/1989")
						li
							a.item-no(href="#0", data-date="20/07/1989")
						li
							a.item-no(href="#0", data-date="20/08/1989")
						li
							a.item-no(href="#0", data-date="24/09/1989")
						li
							a.item-no(href="#0", data-date="01/10/1989")
						li
							a.item-no(href="#0", data-date="01/11/1989")
						li
							a.item-no(href="#0", data-date="01/12/1989")
						li
							a.item-no(href="#0", data-date="01/01/1990")
						li
							a.item-no(href="#0", data-date="01/02/1990")
						li
							a.item-no(href="#0", data-date="01/03/1990")
						li
							a.item-no(href="#0", data-date="01/04/1990")
						li
							a.item-no(href="#0", data-date="01/05/1990")
						li
							a.item-no(href="#0", data-date="01/06/1990")
						li
							a.item-no(href="#0", data-date="20/06/1990")
						li
							a.item-no(href="#0", data-date="01/07/1990")
						li
							a.item-no(href="#0", data-date="01/08/1990")
						li
							a.item-no(href="#0", data-date="20/09/1990")
						li
							a.item-no(href="#0", data-date="01/10/1990")
						li
							a.item-no(href="#0", data-date="20/10/1990")
						li
							a(href="#0", data-date="01/12/1990") 

								div(data-toggle="tooltip",data-placement="top",title="<p><img src='../images/fondos/ico-201s.png'></p>").
									2010
						li
							a.item-no(href="#0", data-date="01/01/1991")
						li
							a.item-no(href="#0", data-date="01/02/1991")
						li
							a.item-no(href="#0", data-date="20/02/1991")
						li
							a.item-no(href="#0", data-date="01/03/1991")
						li
							a.item-no(href="#0", data-date="20/04/1991")
						li
							a.item-no(href="#0", data-date="01/05/1991")
						li
							a.item-no(href="#0", data-date="01/06/1991")
						li
							a.item-no(href="#0", data-date="01/07/1991")
						li
							a.item-no(href="#0", data-date="20/07/1991")
						li
							a.item-no(href="#0", data-date="01/08/1991")
						li
							a.item-no(href="#0", data-date="20/09/1991")
						li
							a.item-no(href="#0", data-date="01/10/1991")
						li
							a.item-no(href="#0", data-date="01/11/1991")
						
					span.filling-line(aria-hidden="true")

			ul.cd-timeline-navigation
				li
					a.prev.inactive(href="#0").
						Prev

				li
					a.next(href="#0").
						Next

		div.events-content
			ol
				li.selected.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/01/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="19/01/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/02/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="15/03/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="27/03/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="15/04/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="05/05/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/06/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="10/07/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/07/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/08/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="24/09/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/10/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/11/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/12/1989")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/01/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/02/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/03/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/04/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/05/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/06/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/06/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/07/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/08/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/09/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/10/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/10/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/12/1990")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/01/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/02/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/02/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/03/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/04/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/05/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/06/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/07/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/07/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/08/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="20/09/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/10/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.
				li.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-0(data-date="01/11/1991")
					div#inform-historia-bbb
						div#con-sabor-bbb.conte-bonbonbum.col-lg-3.col-md-2.col-sm-2.col-xs-4
							img.img-responsive(src='../images/historia/bbb-mora.png')
						div#con-text-bbb.conte-text-bonbonbum.col-lg-4.col-md-5.col-sm-8.col-xs-11
							h2.titulos-sabores.
								01 Febrero 1998
							p.texto-bbb-info.
								Nos relajamos por unos añitos pero seguíamos queriendo más, pensamos durante un rato y BUM tomamos una decisión, crear un sabor tan deli que sorprendiera a todo el mundo, así llegó Bon Bon Bum de Mora.



block Scripts