//-Layout Base
extends partials/base.jade

//-Etiqueta Title
block title
	title Ejemplo de meta title

//-Etiqueta Metadescription
block description
	meta(name="description", content="BBB-Morazul" )


block content
	section.container-fluid.conte-inicio
		div#container.container.wrapper
			ul#scene.scene( data-friction-x="0.1", data-friction-y="0.1", data-scalar-x="25", data-scalar-y="15")

				li.layer.hanger.position-1(data-depth="0.15")
					+image("img-BurbujaG.png")
				li.layer.hanger.position-2(data-depth="0.25")
					+image("img-BurbujaG.png")
				li.layer.hanger.position-3(data-depth="2.00")
					+image("img-BurbujaM.png")
				li.layer.hanger.position-4(data-depth="0.45")
					+image("img-BurbujaC.png")
				li.layer.hanger.position-5(data-depth="0.09")
					+image("img-BurbujaM.png")
				li.layer.hanger.position-6(data-depth="0.35")
					+image("img-BurbujaM.png")
				li.layer.hanger.position-7(data-depth="4.65")
					+image("img-BurbujaP.png")
				li.layer.hanger.position-8(data-depth="0.07")
					+image("img-BurbujaP.png")
				li.layer.hanger.position-9(data-depth="1.85")
					+image("img-BurbujaP.png")
				li.layer.hanger.position-10(data-depth="0.85")
					+image("img-BurbujaM.png")
				li.layer.hanger.position-11(data-depth="1.85")
					+image("img-BurbujaM.png")
				li.layer.hanger.position-12(data-depth="0.08")
					+image("img-BurbujaM.png")

			input#relative(type="checkbox")
			input#clip(type="checkbox")

		div.row

			article.col-lg-6.col-md-6.col-sm-10.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-1.cont-titulo
				+image("texto-inicio.svg", "Demuestra tu Actitud Fresh")(class="img-responsive")
		div.row
			div.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-lg-offset-5.col-md-offset-5.col-sm-offset-3.col-xs-offset-5.cont-flecha-A
				a.cont-flecha(href="javascript:;",data-go="conte-pasos")




	section.conte-pasos

		div.conte-finalM
		div#hielo-1.conte-hielo1
		div#hielo-2.conte-hielo2
		div.row

			article.col-lg-6.col-md-6.col-sm-11.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-1.cont-titulo.pasos-sabes
				+image("texto-pasos.svg", "Sabes como ganar")(class="img-responsive")

		div.row

			div.col-lg-3.col-md-4.col-sm-6.col-xs-4.col-lg-offset-1.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.cont-pasos-BBB
				+image("img-Paso1.png", "Paso 1")(class="img-responsive")
				p.pasos-concurso.
					SUBE UNA FOTO Y UNA FRASE
				p.pasos-concurso2.
					QUE DEMUESTRE TU #ACTITUDFRESH

			div.col-lg-3.col-md-4.col-sm-6.col-xs-4.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.cont-pasos-BBB
				+image("img-Paso2.png", "Paso 2")(class="img-responsive")
				p.pasos-concurso.
					Ingresa tus datos
				p.pasos-concurso2.
					Y los de tu acudiente

			div.col-lg-3.col-md-4.col-sm-6.col-xs-4.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.conte-paso2.cont-pasos-BBB
				+image("img-Paso3.png", "Paso 3")(class="img-responsive")
				p.pasos-concurso.
					COMPARTELA EN TUS REDES 
				p.pasos-concurso2.
					SOCIALES E INVITA A TUS AMIGOS <br> A VOTAR POR TI
		div.row
			div.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-lg-offset-5.col-md-offset-5.col-sm-offset-3.col-xs-offset-5.cont-flecha-M
				a.cont-flecha2(href="javascript:;",data-go="conte-subir-foto")

	section.conte-subir-foto(style="position:relative;")

		div#container.container.wrapper2
			ul#scene2.scene( data-friction-x="0.1", data-friction-y="0.1", data-scalar-x="25", data-scalar-y="15")

				li.layer.hanger.position-1(data-depth="0.15")
					+image("img-moraAG.png")
				li.layer.hanger.position-2(data-depth="0.25")
					+image("img-moraAG.png")
				li.layer.hanger.position-3(data-depth="2.00")
					+image("img-moraAM.png")
				li.layer.hanger.position-4(data-depth="0.45")
					+image("img-moraG.png")
				li.layer.hanger.position-5(data-depth="0.09")
					+image("img-moraAM.png")
				li.layer.hanger.position-6(data-depth="0.35")
					+image("img-moraAM.png")
				li.layer.hanger.position-7(data-depth="4.65")
					+image("img-moraAP.png")
				li.layer.hanger.position-8(data-depth="0.07")
					+image("img-moraAP.png")
				li.layer.hanger.position-9(data-depth="1.85")
					+image("img-moraAP.png")
				li.layer.hanger.position-13(data-depth="0.85")
					+image("img-moraG.png")
				li.layer.hanger.position-11(data-depth="1.85")
					+image("img-moraAM.png")
				li.layer.hanger.position-12(data-depth="0.08")
					+image("img-moraM.png")

			input#relative2(type="checkbox")
			input#clip2(type="checkbox")


		div.conte-finalA

		div.row

			article.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-lg-offset-4.col-sm-offset-4.col-xs-offset-3.cont-titulo.cont-subirfoto
				+image("texto-foto.svg", "Subir Foto")(class="img-responsive")

		div.row

			div.col-lg-5.col-md-5.col-sm-5.col-xs-10.col-lg-offset-4.col-md-offset-4.col-sm-offset-5.col-xs-offset-3.conten-foto-sub
			
		div.row

			div.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-lg-offset-4.col-sm-offset-4.col-xs-offset-3.conte-botonG

				button.btn-general#BotonSubir(class="btn", data-action="bea").
					sube tu foto <i class="icono-btnG"></i>

		div.conte-inicioM

	section.conte-datos-partici
		div.row.form-datos-AC

			form#form-datosAP

				article.col-lg-4.col-md-4.col-sm-4.col-xs-10.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1

					div.col-xs-8.col-xs-offset-2

						+image("texto-DatosA.svg", "Datos Acudiente")(class="img-responsive")

					div

						div.form-group
								label(for="nombre") Nombres y Apellidos *
								input(type="text", name="nombre", required )

						div.form-group
								label(for="tipo de documento") Tipo documento *
								select(name="tipo documento", required )
									option Cédula
									option Cédula
									option Cédula

						div.form-group
								label(for="numero documento") N&uacute;mero de documento *
								input(type="text", name="numero documento", required )

						div.form-group
								label(for="departamento") departamento *
								select(name="departamento", required )
									option Cédula
									option Cédula
									option Cédula

						div.form-group
								label(for="Ciudad") Ciudad *
								select(name="ciudad", required )
									option Cédula
									option Cédula
									option Cédula

						div.form-group
								label(for="correo electronico") Correo El&eacute;ctronico *
								input(type="text", name="correo electronico", required )

						div.form-group
								label(for="numero documento") N&uacute;mero Tel&eacute;fonico *
								input(type="text", name="telefono", required )

						div.form-group
								label(for="numero documento") Direcci&oacute;n residencia *
								input(type="text", name="direccion", required )


				article.col-lg-4.col-md-4.col-sm-4.col-xs-10.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1					

					div.col-xs-8.col-xs-offset-2

						+image("texto-DatosP.svg", "Datos Acudiente")(class="img-responsive")

					div

						button.btn-general.btn-facebook(class="btn", data-action="bea").
							Conectar con Facebook

						div.form-group
								label(for="nombreP") Nombres y Apellidos *
								input(type="text", name="nombre", required )

						
						div.form-group
								label(for="email") Correo El&eacute;ctronico *
								input(type="email", name="email", required )

						div.form-group
								label(for="numero documento") N&uacute;mero Tel&eacute;fonico *
								input(type="text", name="documentoP", required )


						div
							input.check-terminos( type="checkbox", name="contacto", value="contacto".required)
							label.text_terminos.terminos-cont(for="contacto",name="terminos")
								a.texto-terminosC.
											Acepto T&eacute;rminos y Condiciones

						div
							input.check-terminos( type="checkbox", name="contacto", value="contacto",required)
							label.text_terminos(for="contacto", name="acudiente").
								Soy menor de edad y cuento con autorización de mi representante legal

						div
							input.hide#FotoSubir(type="file")
							input.btn-general(type="submit" , data-action="bea", value="Demuestra tu #ActitudFresh")

						div.conten-compartir
							p.texto-share.
								compartir

							a(href="#")
								+image("img-icoFace.png", "Compartir Facebook")

							a(href="#")
								+image("img-icoTw.png", "Compartir Facebook")

	section.conte-galeria

		div.conte-finalM
		div.row.con-titulo-Galeria

			article.col-lg-6.col-md-6.col-sm-6.col-xs-7.col-lg-offset-4.col-md-offset-3.col-sm-offset-3.col-xs-offset-2.cont-tituloG					

				+image("texto-galeria.svg", "Galeria")(class="img-responsive")

		div.row

			div.col-lg-3.col-md-4.col-xs-6.thumb
				image.img-responsive(src="images/img-ejemp.png")(class="img-responsive")

				div.cont-infoFotoM
					div.conte-nombreU
						p.nombre-usua-foto.
							Juana Mora

					div.conte-votosU
						em.titulo-votos.
							Votos
						p.text-numero-votos.
							40
					div.clear

			div.col-lg-3.col-md-4.col-xs-6.thumb
				image.img-responsive(src="images/img-ejemp.png")(class="img-responsive")

				div.cont-infoFotoA
					div.conte-nombreU
						p.nombre-usua-foto.
							LADY ESTEFFANY CASTILLO

					div.conte-votosU
						em.titulo-votos.
							Votos
						p.text-numero-votos.
							400
					div.clear
			div.col-lg-3.col-md-4.col-xs-6.thumb
				image.img-responsive(src="images/img-ejemp.png")(class="img-responsive")

				div.cont-infoFotoM
					div.conte-nombreU
						p.nombre-usua-foto.
							Juana Mora

					div.conte-votosU
						em.titulo-votos.
							Votos
						p.text-numero-votos.
							40
					div.clear
			div.col-lg-3.col-md-4.col-xs-6.thumb
				image.img-responsive(src="images/img-ejemp.png")(class="img-responsive")

				div.cont-infoFotoA
					div.conte-nombreU
						p.nombre-usua-foto.
							Juana Mora

					div.conte-votosU
						em.titulo-votos.
							Votos
						p.text-numero-votos.
							400
					div.clear
			

			div.col-lg-3.col-md-4.col-xs-6.thumb
				image.img-responsive(src="/images/img-ejemp.png")(class="img-responsive")

				div.cont-infoFotoM
					div.conte-nombreU
						p.nombre-usua-foto.
							Juana Mora

					div.conte-votosU
						em.titulo-votos.
							Votos
						p.text-numero-votos.
							6400
					div.clear

			div.col-lg-3.col-md-4.col-xs-6.thumb
				image.img-responsive(src="/images/img-ejemp.png")(class="img-responsive")

				div.cont-infoFotoA
					div.conte-nombreU
						p.nombre-usua-foto.
							jUANA CATALINA HERNANDEZ

					div.conte-votosU
						em.titulo-votos.
							Votos
						p.text-numero-votos.
							400
					div.clear
			div.col-lg-3.col-md-4.col-xs-6.thumb
				image.img-responsive(src="/images/img-ejemp.png")(class="img-responsive")

				div.cont-infoFotoM
					div.conte-nombreU
						p.nombre-usua-foto.
							Rosa Maria pEREZ

					div.conte-votosU
						em.titulo-votos.
							Votos
						p.text-numero-votos.
							40
					div.clear
			div.col-lg-3.col-md-4.col-xs-6.thumb
				image.img-responsive(src="/images/img-ejemp.png")(class="img-responsive")

				div.cont-infoFotoA
					div.conte-nombreU
						p.nombre-usua-foto.
							Juana Mora

					div.conte-votosU
						em.titulo-votos.
							Votos
						p.text-numero-votos.
							400
					div.clear















				


	
	

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

