ul#BBB-Mobile-menu(style="display:none;")

					li
						a(href="#", onClick="seguimientoEventos('menu-mobile','clic','Productos')").block-center.text-center Productos

					li
						a(href="noticias.html", onClick="seguimientoEventos('menu-mobile','clic','Noticias')").block-center.text-center Noticias

					li
						a(href="#", onClick="seguimientoEventos('menu-mobile','clic','Actividades')").block-center.text-center Actividades

					li
						a(href="#", onClick="seguimientoEventos('menu-mobile','clic','Historia')").block-center.text-center Historia