extends partials/base

block title
	-var titulo = "Productos";
	title BonBonBum

block content
	div.img-fondo-13.col-lg-5.col-md-5.col-sm-5.col-xs-3.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0
		img.img-responsive(src='../images/fondos/img-sepen-azul.png')

	section.conte-sabores
		div.row
			div.col-lg-2.col-md-2.col-sm-2.col-xs-2.cont-mano-sabores
				img.img-responsive(src='../images/fondos/img-mano-sabores.png')

			div.col-lg-2.col-md-2.col-sm-2.col-xs-2.cont-BBB-sabor
				img.img-responsive(src='../images/sabores/bbb-moraA-e.png')
			
			div.col-lg-5.col-md-5.col-sm-5.col-xs-5.col-lg-offset-0.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.cont-titulo-sabores
				div.col-lg-12.col-md-12.col-sm-12.col-xs-12
					div.contene-fon-sabores
						h3.titulo-sabores
							<strong class="bold-titulos">¡OYE!</strong><br>prueba el <strong class="bold-titulos">MORAZUL FRESH</strong>
					div.info-sabores-bbb
						p.
							  Es súper deli, el sabor de la morazul con el refrescante chicle de menta se convierten en una creación que te hará cerrar los ojos y suspirar. Perfecto para empezar bien esos momentos random y terminarlos mejor.

			div.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-lg-offset-4.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.conte-sabores-BBB
				div.cont-header-sabor                                   
					div.fondo-titulo-sabores
						h3.
							DESCUBRE A QUÉ <strong>SABE LA DIVERSIÓN</strong>
					div.cont-slide-banderas
						div.cont-flechas.prev-sab
							a(href="#").
										<

						div.slide-sabores
							ul.slide-banderas-s
								li.banderas.banderas-1
									img(src="../images/banderas/bandera-colombia.png", alt="bandera-colombia")
								li.banderas.banderas-2
									img(src="../images/banderas/bandera-colombia.png", alt="bandera-colombia")
								li.banderas.banderas-3
									img(src="../images/banderas/bandera-colombia.png", alt="bandera-colombia")
								li.banderas.banderas-4
									img(src="../images/banderas/bandera-colombia.png", alt="bandera-colombia")
								li.banderas.banderas-5
									img(src="../images/banderas/bandera-colombia.png", alt="bandera-colombia")
								li.banderas.banderas-6
									img(src="../images/banderas/bandera-colombia.png", alt="bandera-colombia")

						div.cont-flechas.next-sab
							a(href="#").
										>

					div.clear

				div.cont-seleccion-sabores
					
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")
					ul.conten-sabores
						li
							a(href="")
								img(src="", alt="")

		div.row
			div.col-lg-4.col-md-5.col-sm-4.col-xs-5.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.contenedor-redes
			ul.redes-sociales
				li
					a(href="#", alt="", target="_blank").icono-redes.icono-facebook

				li
					a(href="#", alt="", target="_blank").icono-redes.icono-twitter

				li
					a(href="#", alt="", target="_blank").icono-redes.icono-youtube
				li
					a(href="#", alt="", target="_blank").icono-redes.icono-instagram
				li
					a(href="#", alt="", target="_blank").icono-redes.icono-share

	



block Scripts